[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
jupyterlab = "*"
scrapy-playwright = "*"
regex = "*"
pyshacl="*"
requests = "*"
rdflib = "*"
rdflib-sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
